
/* Handheld */

.abstracts-container {
  width:100%;
  text-align:center;
  .abstract-icon-text {
    display:inline-block;
    width:100%;
    .skill-icon {
      margin:0 auto 20px auto;
    }
  }
}