html, body {
  height:100%;
  min-height:100%;
}
body {
  @include transition(background-color, 0.5s);
  @include box-shadow(inset rgba(0,0,0,0.5) 0 0 100px);
  background: $darkBlue url('/img/body-bg.png') top left;
  height:100%;
  overflow-x:hidden;
  margin: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
.clear:after {
  content:"";
  display:table;
  clear:both;
}
#page-container {
  background:url('/img/borders/trim-top-site-content.png') repeat-x top left;
  padding-top:7px;
  position:relative;
  .page-container-inner {
    background:$grey url('/img/body-bg.png') repeat top left;
    div.page {
      position:relative;
    }
  }
}
#site-content-header {
  position:absolute;
  width:100%;
  top:-27px;
  z-index:$siteContentHeaderZindex;
  .site-content-header-inner {
    text-align:center;
    margin:0 auto;
    h4 {
      color:$beige;
      margin-left:-17px;
      padding:20px 40px;
    }
  }
}

// Section colours
section.sky-blue {
  background:$skyBlue url('/img/body-bg.png') repeat top left;
}
section.pearly-white {
  background:$pearlyWhite url('/img/body-bg.png') repeat top left;
}
section.english-skies {
  background:$englishSkies url('/img/body-bg.png') repeat top left;
}
section.racing-grey {
  background:$racingGrey url('/img/body-bg.png') repeat top left;
}
section:last-child {
  padding-bottom:175px;
}

body.home-page {
  background-color: $darkBlue;
}
body.packs-page {
  background-color: $racingGreen;
}
body.contact-page {
  background-color: $blood;
}