
$globalHeaderText : "Oswald", sans-serif;
$globalFooterText : "Oswald", sans-serif;
$globalScriptText : "Clicker Script", cursive;
$globalParagraphText : "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Dimensions */

$desktop : 1024px;
$handheld : 324px;

/* Colours Flements */

$lightBlue : rgb(192,228,237); //#C0E4ED
$blue : rgb(94,117,186); // #5E75BA
$darkBlue : rgb(68,79,100); // #444F64
$beige : rgb(253,237,205); // #FDEDCD
$cream : rgb(254,248,235); // #FEF8EB
$shade : rgb(68,68,68); //#444444
$lightBlood : rgb(232,97,88); // #E86158
$blood : rgb(118,49,45); // #76312D
$white : rgb(255,255,255); // #FFFFFF
$racingGreen : rgb(55,96,24); // #376018
$vomit : rgb(178,210,51); // #B2D233
$grey : rgb(238,238,238); // #EEEEEE

/* z-index */

$primaryNav : 10;