
$globalHeaderText : "Oswald", sans-serif;
$globalFooterText : "Oswald", sans-serif;
$globalScriptText : "Clicker Script", cursive;
$globalParagraphText : "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Dimensions */

$desktop : 1024px;
$handheld : 324px;

/* Colour Elements */

$veryLightBlue : rgb(226,246,255); // #E2F6FF
$lightBlue : rgb(192,228,237); //#C0E4ED
$blue : rgb(94,117,186); // #5E75BA
$darkBlue : rgb(68,79,100); // #444F64
$beige : rgb(253,237,205); // #FDEDCD
$cream : rgb(254,248,235); // #FEF8EB
$shade : rgb(68,68,68); //#444444
$lightBlood : rgb(232,97,88); // #E86158
$blood : rgb(118,49,45); // #76312D
$white : rgb(255,255,255); // #FFFFFF
$racingGreen : rgb(55,96,24); // #376018
$vomit : rgb(178,210,51); // #B2D233
$grey : rgb(238,238,238); // #EEEEEE
$black : rgb(5,5,5); // #000000

// Section colours
$skyBlue : rgb(226,246,255); // #E2F6FF
$pearlyWhite : rgb(255,255,255); // #FFFFFF
$englishSkies : rgb(245,245,245); // #F5F5F5
$racingGrey : rgb(225,222,214); // #E1DED6

/* z-index */

$primaryNavZindex : 10;
$siteContentHeaderZindex : 20;
$pageControlsZindex : 30;

$loaderZindex : 500;
$loaderBottomZindex : 510;
$loaderTopZindex : 520;