
$globalHeaderText : "Oswald", sans-serif;
$globalFooterText : "Oswald", sans-serif;
$globalScriptText : "Clicker Script", cursive;
$globalParagraphText : "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Dimensions */

$desktop : 1024px;
$handheld : 324px;

/* Colours Flements */

$lightBlue : #C0E4ED;
$blue : #5E75BA;
$darkBlue : #444F64;
$beige : #FDEDCD;
$cream : #FEF8EB;
$lightBlood : #E86158;
$blood : #76312D;
$white : #FFFFFF;
$racingGreen : #376018;
$vomit : #B2D233;
$shadow : #444444;
$grey : #EEEEEE;

/* z-index */

$primaryNav : 10;