#edit-page {
  width:40%;
  h2 {
    margin-bottom: 20px;
  }
  p {
    height:40px;
    line-height:44px;
  }
  label {
    margin-bottom:8px;
    display:block;
    input {
      float:right;
    }
    input:after {
      content:"";
      display:table;
      clear:both;
    }
  }
  button {
    float:right;
  }
}