@import "page-colours";
@import "dimensions";
@import "views/header";
@import "views/nav";
@import "views/footer";
@import "pages/home";

#site-content-header {
  .site-content-header-inner {
    background-color:$shade;
    h4 {
      font-weight:300;
      font-size:17px;
      line-height:25px;
    }
  }
}