button {
  cursor:pointer;
}
button, input {
  border:none;
}
input {
  padding:0;
  margin:0;
  background:$white;
  font-size: 14px;
  text-indent:20px;
  height:40px;
  min-width:280px;
}
form.input-button-combo {
  display:inline-flex;
  button.input-button {
    background:$grey url('/img/icons/mini-arrow-right.png') no-repeat center center;
    height:40px;
    width:40px;
  }
}