@import url("http://fonts.googleapis.com/css?family=Oswald:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Clicker+Script");
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Dimensions */
/* Colour Elements */
/* z-index */
/* Modal window */
/* line 1, sass/_globals.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 5, sass/_globals.scss */
body {
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  -ms-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 100px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 100px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 100px;
  background: #444f64 url("/img/body-bg.png") top left;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  top: 0;
}

/* line 16, sass/_globals.scss */
body.logged-in {
  top: 30px;
  position: relative;
}

/* line 20, sass/_globals.scss */
.left {
  float: left;
}

/* line 23, sass/_globals.scss */
.right {
  float: right;
}

/* line 26, sass/_globals.scss */
:focus {
  outline: 0;
}

/* line 29, sass/_globals.scss */
.width-auto {
  width: 1024px;
  margin: 0 auto;
}

/* line 33, sass/_globals.scss */
.clear:after {
  content: "";
  display: table;
  clear: both;
}

/* line 38, sass/_globals.scss */
#page-container {
  background: url("/img/borders/trim-top-site-content.png") repeat-x top left;
  padding-top: 7px;
  position: relative;
}
/* line 42, sass/_globals.scss */
#page-container .site-content-body {
  background: #eeeeee url("/img/body-bg.png") repeat top left;
}
/* line 44, sass/_globals.scss */
#page-container .site-content-body div.page {
  position: relative;
}

/* line 51, sass/_globals.scss */
section.sky-blue {
  background: #e2f6ff url("/img/body-bg.png") repeat top left;
}

/* line 54, sass/_globals.scss */
section.pearly-white {
  background: white url("/img/body-bg.png") repeat top left;
}

/* line 57, sass/_globals.scss */
section.english-skies {
  background: whitesmoke url("/img/body-bg.png") repeat top left;
}

/* line 60, sass/_globals.scss */
section.racing-grey {
  background: #e1ded6 url("/img/body-bg.png") repeat top left;
}

/* line 65, sass/_globals.scss */
#page-container section:last-child {
  padding-bottom: 175px;
}
/* line 68, sass/_globals.scss */
#page-container .wdw-package section {
  padding-bottom: 0;
}

/* line 2, sass/_typography.scss */
h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif, "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 5, sass/_typography.scss */
h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 9, sass/_typography.scss */
h2 {
  color: #444444;
  font-size: 28px;
  font-weight: 300;
}

/* line 14, sass/_typography.scss */
h3 {
  color: #444444;
  font-size: 24px;
  font-weight: 300;
}

/* line 19, sass/_typography.scss */
p, li {
  color: #444444;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
}

/* line 25, sass/_typography.scss */
p, li {
  line-height: 120%;
}

/* line 28, sass/_typography.scss */
cite {
  font-family: "Clicker Script", cursive;
}

/* line 31, sass/_typography.scss */
a {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* line 38, sass/_typography.scss */
#page-container a, #site-modal-window a {
  color: #444444;
}

/* line 43, sass/_typography.scss */
form h2 {
  margin-bottom: 22px;
}
/* line 46, sass/_typography.scss */
form p.intro {
  margin-bottom: 12px;
}

/* line 1, sass/_grid.scss */
.grid-10 {
  width: 10%;
}

/* line 4, sass/_grid.scss */
.grid-20 {
  width: 20%;
}

/* line 7, sass/_grid.scss */
.grid-30 {
  width: 30%;
}

/* line 10, sass/_grid.scss */
.grid-40 {
  width: 40%;
}

/* line 13, sass/_grid.scss */
.grid-50 {
  width: 50%;
}

/* line 16, sass/_grid.scss */
.grid-60 {
  width: 60%;
}

/* line 19, sass/_grid.scss */
.grid-70 {
  width: 70%;
}

/* line 22, sass/_grid.scss */
.grid-80 {
  width: 80%;
}

/* line 25, sass/_grid.scss */
.grid-90 {
  width: 90%;
}

/* line 28, sass/_grid.scss */
.grid-100 {
  width: 100%;
}

/* line 2, sass/components/_logos.scss */
.logo-small {
  background: url("../img/logos/small.png") top left;
  width: 110px;
  height: 141px;
}

/* line 2, sass/components/_icons.scss */
.social-icons {
  background: url("../img/icons/social-icons.png") no-repeat top left;
  height: 24px;
  width: 24px;
}

/* line 7, sass/components/_icons.scss */
.social-icons.facebook {
  background-position: 0 0;
}

/* line 10, sass/components/_icons.scss */
.social-icons.linkedin {
  background-position: 0 -25px;
}

/* line 13, sass/components/_icons.scss */
.social-icons.twitter {
  background-position: 0 -50px;
}

/* line 17, sass/components/_icons.scss */
.gears-small-icon {
  background: url("../img/icons/gears-small-icon.png") no-repeat top left;
  display: block;
  width: 20px;
  height: 20px;
}

/* line 24, sass/components/_icons.scss */
.menu-icon {
  display: inline-flex;
  background: url("../img/icons/menu-icons.png") no-repeat top left;
  width: 16px;
  height: 10px;
}

/* line 1, sass/components/_site-loader.scss */
#site-loader {
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 100px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 100px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 100px;
  z-index: 1500;
}
/* line 4, sass/components/_site-loader.scss */
#site-loader .top-door, #site-loader .bottom-door {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  position: fixed;
  height: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
/* line 13, sass/components/_site-loader.scss */
#site-loader .top-door {
  z-index: 1520;
  background: #444444 url("/img/body-bg.png") repeat top left;
  overflow: visible;
  top: 0;
}
/* line 18, sass/components/_site-loader.scss */
#site-loader .top-door .wdw-vertical-blue {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
  background: url("/img/logos/wdw-vertical-blue.png") no-repeat bottom center;
  display: block;
  position: absolute;
  bottom: 0;
  width: 210px;
  left: 50%;
  height: 272px;
  margin-left: -105px;
}
/* line 32, sass/components/_site-loader.scss */
#site-loader .top-door .wdw-vertical-blue:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 36, sass/components/_site-loader.scss */
#site-loader .bottom-door {
  z-index: 1510;
  background: #444444 url("/img/body-bg.png") repeat top left;
  bottom: 0;
}

/* line 42, sass/components/_site-loader.scss */
body.active-loader {
  overflow: hidden;
}
/* line 45, sass/components/_site-loader.scss */
body.active-loader #site-loader .top-door, body.active-loader #site-loader .bottom-door {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  height: 50%;
}
/* line 50, sass/components/_site-loader.scss */
body.active-loader #site-loader .top-door .wdw-vertical-blue {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  bottom: -136px;
}

/* line 2, sass/components/_forms.scss */
form.input-button-combo {
  display: inline-flex;
}
/* line 5, sass/components/_forms.scss */
form.input-button-combo input,
form.input-button-combo textarea {
  -webkit-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  -ms-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  border: none;
}

/* line 11, sass/components/_forms.scss */
input,
textarea {
  -webkit-box-shadow: inset #999999 0px 0px 3px -1px;
  -moz-box-shadow: inset #999999 0px 0px 3px -1px;
  box-shadow: inset #999999 0px 0px 3px -1px;
  border: none;
  padding: 0;
  margin: 0 0 10px 0;
  background: white;
  font-size: 14px;
  text-indent: 10px;
  height: 40px;
  min-width: 280px;
  width: 100%;
  box-sizing: border-box;
}

/* line 24, sass/components/_forms.scss */
textarea {
  height: auto;
}

/* line 28, sass/components/_forms.scss */
form .additional-form-text {
  margin-top: 10px;
  border-top: 1px solid #eeeeee;
  padding-top: 15px;
}
/* line 32, sass/components/_forms.scss */
form .additional-form-text p {
  margin-bottom: 6px;
}

/* line 38, sass/components/_forms.scss */
body.contact-page input, body.contact-page textarea {
  border-left: 3px solid #76312d;
}
/* line 41, sass/components/_forms.scss */
body.contact-page input:focus, body.contact-page textarea:focus {
  border-left: 3px solid #e86158;
}

/* line 46, sass/components/_forms.scss */
body.home-page input, body.home-page textarea {
  border-left: 3px solid #c0e4ed;
}
/* line 49, sass/components/_forms.scss */
body.home-page input:focus, body.home-page textarea:focus {
  border-left: 3px solid #e2f6ff;
}

/* line 54, sass/components/_forms.scss */
body.github-page input, body.github-page textarea {
  border-left: 3px solid #376018;
}
/* line 57, sass/components/_forms.scss */
body.github-page input:focus, body.github-page textarea:focus {
  border-left: 3px solid #b2d233;
}

/* line 1, sass/components/_buttons.scss */
button {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: inset black 0px 0px 7px -4px;
  -moz-box-shadow: inset black 0px 0px 7px -4px;
  box-shadow: inset black 0px 0px 7px -4px;
  cursor: pointer;
  border: none;
  padding: 12px;
  margin: 0;
  height: 40px;
  line-height: 0;
  font-size: 17px;
  border-radius: 5px;
}

/* line 13, sass/components/_buttons.scss */
button.small-generic {
  color: white;
  padding: 0 10px 0 10px;
}

/* line 17, sass/components/_buttons.scss */
button.input-combo-button {
  background: #eeeeee url("/img/icons/mini-arrow-right.png") no-repeat center center;
  height: 40px;
  width: 40px;
  border-radius: 0;
}

/* line 23, sass/components/_buttons.scss */
button:focus {
  -webkit-box-shadow: inset black 0px 0px 10px -4px;
  -moz-box-shadow: inset black 0px 0px 10px -4px;
  box-shadow: inset black 0px 0px 10px -4px;
}

/* line 29, sass/components/_buttons.scss */
body.contact-page button {
  background-color: #e86158;
  color: white;
}
/* line 34, sass/components/_buttons.scss */
body.contact-page button:focus,
body.contact-page button:hover {
  background-color: #ff6a61;
}

/* line 41, sass/components/_buttons.scss */
body.github-page button {
  background-color: #b2d233;
  color: white;
}
/* line 46, sass/components/_buttons.scss */
body.github-page button:focus,
body.github-page button:hover {
  background-color: #cdf339;
}

/* line 53, sass/components/_buttons.scss */
body.home-page button {
  background-color: #c0e4ed;
  color: white;
}
/* line 58, sass/components/_buttons.scss */
body.home-page button:focus,
body.home-page button:hover {
  background-color: #caf0f9;
}

/* line 2, sass/components/_lists.scss */
.dropdown-list li {
  background: #FFF;
  padding: 10px 0;
  text-indent: 10px;
  cursor: pointer;
}

/* line 3, sass/pages/_home.scss */
#home-page section h1 {
  padding: 100px 0;
  width: 100%;
  text-align: center;
}
/* line 8, sass/pages/_home.scss */
#home-page section h2 {
  font-size: 28px;
  line-height: 34px;
  margin-top: 38px;
}
/* line 13, sass/pages/_home.scss */
#home-page section .tech-holder {
  width: 320px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
/* line 18, sass/pages/_home.scss */
#home-page section .tech-holder p {
  margin-top: 33px;
  line-height: 24px;
}
/* line 23, sass/pages/_home.scss */
#home-page section .tech-holder.last {
  margin-right: 0;
}
/* line 26, sass/pages/_home.scss */
#home-page section .tech-holder.css3, #home-page section .tech-holder.html5 {
  margin-top: 130px;
}
/* line 29, sass/pages/_home.scss */
#home-page section .css3-icon, #home-page section .html5-icon, #home-page section .js-icon {
  background: url("/img/icons/html5-icons.png") no-repeat center center;
  display: block;
  margin: 0 auto;
}
/* line 34, sass/pages/_home.scss */
#home-page section .css3-icon {
  background-position: 0 0;
  width: 128px;
  height: 181px;
}
/* line 39, sass/pages/_home.scss */
#home-page section .html5-icon {
  background-position: 0 -466px;
  width: 128px;
  height: 181px;
}
/* line 44, sass/pages/_home.scss */
#home-page section .js-icon {
  background-position: 0 -181px;
  width: 202px;
  height: 284px;
}
/* line 50, sass/pages/_home.scss */
#home-page .tech-awesomeness {
  padding: 80px 0;
}
/* line 53, sass/pages/_home.scss */
#home-page .logo-reel {
  text-align: center;
}
/* line 55, sass/pages/_home.scss */
#home-page .logo-reel .company-reel {
  padding-top: 60px;
}
/* line 57, sass/pages/_home.scss */
#home-page .logo-reel .company-reel li {
  display: inline-table;
  vertical-align: middle;
  margin-right: 68px;
}
/* line 62, sass/pages/_home.scss */
#home-page .logo-reel .company-reel li.last {
  margin-right: 0;
}

/* line 69, sass/pages/_home.scss */
body.home-page {
  background-color: #444f64;
}
/* line 71, sass/pages/_home.scss */
body.home-page a:hover, body.home-page #page-container a:hover, body.home-page #site-modal-window a:hover {
  color: #c0e4ed;
}
/* line 74, sass/pages/_home.scss */
body.home-page .menu-icon {
  background-position: 0 0;
}
/* line 78, sass/pages/_home.scss */
body.home-page .dropdown-list li {
  border-left: 3px solid #e2f6ff;
}
/* line 81, sass/pages/_home.scss */
body.home-page .dropdown-list li:hover, body.home-page .dropdown-list li:focus {
  border-left: 3px solid #c0e4ed;
}
/* line 85, sass/pages/_home.scss */
body.home-page .logo-small {
  background-position: 0 0;
}
/* line 89, sass/pages/_home.scss */
body.home-page #primary-nav a:hover {
  color: #c0e4ed;
}
/* line 94, sass/pages/_home.scss */
body.home-page #primary-nav ul li.active h3, body.home-page #primary-nav ul li.active cite {
  color: #c0e4ed;
}
/* line 101, sass/pages/_home.scss */
body.home-page #site-header h1 {
  background-position: center 0;
}
/* line 104, sass/pages/_home.scss */
body.home-page #site-header h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  margin-bottom: 60px;
  height: auto;
}
/* line 111, sass/pages/_home.scss */
body.home-page #page-container input {
  border-left: 3px solid #e2f6ff;
}
/* line 114, sass/pages/_home.scss */
body.home-page #page-container input:focus {
  border-left: 3px solid #c0e4ed;
}
/* line 118, sass/pages/_home.scss */
body.home-page #page-container button.input-combo-button,
body.home-page #page-container button.small-generic {
  background-color: #c0e4ed;
}
/* line 123, sass/pages/_home.scss */
body.home-page #page-container button:focus,
body.home-page #page-container button.input-combo-button:hover,
body.home-page #page-container button.small-generic:hover {
  background-color: #e2f6ff;
}

/* line 1, sass/pages/_contact.scss */
#contact-page {
  padding: 58px 0 150px 0;
}
/* line 3, sass/pages/_contact.scss */
#contact-page h2 {
  font-size: 28px;
  line-height: 34px;
}
/* line 7, sass/pages/_contact.scss */
#contact-page p {
  margin-top: 33px;
  line-height: 24px;
}

/* line 13, sass/pages/_contact.scss */
body.contact-page {
  background-color: #76312d;
}
/* line 15, sass/pages/_contact.scss */
body.contact-page a:hover, body.contact-page #page-container a:hover, body.contact-page #site-modal-window a:hover {
  color: #e86158;
}
/* line 18, sass/pages/_contact.scss */
body.contact-page .menu-icon {
  background-position: 0 -22px;
}
/* line 22, sass/pages/_contact.scss */
body.contact-page .dropdown-list li {
  border-left: 3px solid #76312d;
}
/* line 25, sass/pages/_contact.scss */
body.contact-page .dropdown-list li:hover, body.contact-page .dropdown-list li:focus {
  border-left: 3px solid #e86158;
}
/* line 29, sass/pages/_contact.scss */
body.contact-page .logo-small {
  background-position: 0 -302px;
}
/* line 33, sass/pages/_contact.scss */
body.contact-page #primary-nav a:hover {
  color: #e86158;
}
/* line 38, sass/pages/_contact.scss */
body.contact-page #primary-nav ul li.active h3, body.contact-page #primary-nav ul li.active cite {
  color: #e86158;
}
/* line 45, sass/pages/_contact.scss */
body.contact-page #site-header h1 {
  background-position: center -360px;
}

/* line 2, sass/pages/_github.scss */
body.github-page {
  background-color: #376018;
}
/* line 4, sass/pages/_github.scss */
body.github-page a:hover, body.github-page #page-container a:hover, body.github-page #site-modal-window a:hover {
  color: #b2d233;
}
/* line 7, sass/pages/_github.scss */
body.github-page .menu-icon {
  background-position: 0 -11px;
}
/* line 11, sass/pages/_github.scss */
body.github-page .dropdown-list li {
  border-left: 3px solid #376018;
}
/* line 14, sass/pages/_github.scss */
body.github-page .dropdown-list li:hover, body.github-page .dropdown-list li:focus {
  border-left: 3px solid #b2d233;
}
/* line 18, sass/pages/_github.scss */
body.github-page .logo-small {
  background-position: 0 -151px;
}
/* line 22, sass/pages/_github.scss */
body.github-page #primary-nav a:hover {
  color: #b2d233;
}
/* line 27, sass/pages/_github.scss */
body.github-page #primary-nav ul li.active h3, body.github-page #primary-nav ul li.active cite {
  color: #b2d233;
}
/* line 34, sass/pages/_github.scss */
body.github-page #site-header h1 {
  background-position: center -180px;
}
/* line 39, sass/pages/_github.scss */
body.github-page #page-container input {
  border-left: 3px solid #376018;
}
/* line 42, sass/pages/_github.scss */
body.github-page #page-container input:focus {
  border-left: 3px solid #b2d233;
}
/* line 46, sass/pages/_github.scss */
body.github-page #page-container button.input-combo-button,
body.github-page #page-container button.small-generic {
  background-color: #376018;
}
/* line 50, sass/pages/_github.scss */
body.github-page #page-container button.input-combo-button:hover,
body.github-page #page-container button.small-generic:hover {
  background-color: #b2d233;
}

/* line 2, sass/views/_header.scss */
#site-header h1 {
  background: url("/img/header/logo-huge.png") no-repeat;
  width: 1024px;
  height: 170px;
  margin-bottom: 30px;
  font-size: 145px;
  text-indent: -100000px;
}
/* line 10, sass/views/_header.scss */
#site-header .opaque-decor {
  display: block;
  background: url("/img/borders/opaqueDecor.png") no-repeat center center;
  margin: 0 auto 30px auto;
  width: 345px;
  height: 40px;
}
/* line 17, sass/views/_header.scss */
#site-header h2 {
  text-shadow: 0px 0px 2px #050505;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 20px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 300;
  color: #fdedcd;
}

/* line 1, sass/views/_nav.scss */
#primary-nav {
  padding: 38px 0 0 0;
  margin-bottom: 30px;
}
/* line 4, sass/views/_nav.scss */
#primary-nav a {
  font-family: "Oswald", sans-serif;
  color: #fdedcd;
  font-size: 18px;
  font-weight: 300;
  float: right;
}
/* line 10, sass/views/_nav.scss */
#primary-nav a .menu-icon {
  margin-left: 8px;
}
/* line 14, sass/views/_nav.scss */
#primary-nav .nav-user {
  float: right;
  font-family: "Oswald", sans-serif;
  color: #fdedcd;
  font-size: 18px;
  font-weight: 300;
}
/* line 20, sass/views/_nav.scss */
#primary-nav .nav-user a {
  float: none;
}
/* line 24, sass/views/_nav.scss */
#primary-nav ul.nav {
  float: left;
}
/* line 26, sass/views/_nav.scss */
#primary-nav ul.nav li {
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  transition: color 250ms linear;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  border-right: 1px dotted #fdedcd;
  margin-right: 20px;
  padding-right: 20px;
}
/* line 34, sass/views/_nav.scss */
#primary-nav ul.nav li h3, #primary-nav ul.nav li cite {
  color: #fdedcd;
}
/* line 37, sass/views/_nav.scss */
#primary-nav ul.nav li h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
/* line 41, sass/views/_nav.scss */
#primary-nav ul.nav li cite {
  font-size: 18px;
}
/* line 46, sass/views/_nav.scss */
#primary-nav ul.nav li:hover h3, #primary-nav ul.nav li:hover cite {
  color: white;
}
/* line 50, sass/views/_nav.scss */
#primary-nav ul.nav li:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}

/* line 5, sass/views/_modal.scss */
body #site-modal-window {
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  border-radius: 2%;
  background: white;
  position: fixed;
  z-index: 210;
  border: 3px solid #050505;
  /* fallback for non alpha supporting browsers*/
  border: 3px solid rgba(34, 34, 34, 0.6);
  top: -450px;
  left: 50%;
  margin-left: -245px;
  width: 490px;
  height: 400px;
}
/* line 17, sass/views/_modal.scss */
body #site-modal-window .modal-content {
  display: inline-block;
  padding: 25px;
}
/* line 22, sass/views/_modal.scss */
body .modal-overlay {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: static;
  max-height: 0;
  background: #050505;
  z-index: 205;
}
/* line 30, sass/views/_modal.scss */
body .close-btn {
  color: #050505;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 42, sass/views/_modal.scss */
body.modal-open #site-modal-window {
  display: block;
  top: 50%;
  margin-top: -200px;
}
/* line 47, sass/views/_modal.scss */
body.modal-open .modal-overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
}

/* line 2, sass/views/_footer.scss */
#site-footer {
  background: url("../../img/borders/trim-site-footer.png") repeat-x top left;
  padding-top: 7px;
  margin-top: -7px;
  position: relative;
}
/* line 7, sass/views/_footer.scss */
#site-footer .thankyou {
  background: url("../../img/backgrounds/thankyou.png") no-repeat center bottom;
  display: block;
  width: 300px;
  height: 126px;
  position: relative;
  margin: 0 auto;
  margin-top: -126px;
}
/* line 16, sass/views/_footer.scss */
#site-footer .site-footer-inner {
  background: #444444 url("../../img/body-bg.png") repeat top left;
  width: 100%;
  padding: 40px 0 40px 0;
  margin-bottom: -7px;
  display: inline-block;
}
/* line 22, sass/views/_footer.scss */
#site-footer .site-footer-inner h3 {
  color: white;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 25px;
}
/* line 28, sass/views/_footer.scss */
#site-footer .site-footer-inner p, #site-footer .site-footer-inner li {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1px;
}
/* line 35, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-social {
  float: left;
  width: 190px;
  margin-right: 20px;
}
/* line 39, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-social li {
  line-height: 28px;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 36px;
  cursor: pointer;
}
/* line 47, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-news {
  float: left;
  border-left: 1px dotted #eeeeee;
  padding-left: 25px;
  width: 330px;
}
/* line 52, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-news .footer-news-items {
  display: inline-block;
}
/* line 54, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-news .footer-news-items .footer-news-item {
  display: inline-block;
}
/* line 56, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-news .footer-news-items .footer-news-item .news-header {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 60, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-news .footer-news-items .footer-news-item .news-header h4 {
  width: 60%;
  font-size: 18px;
  float: left;
}
/* line 65, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-news .footer-news-items .footer-news-item .news-header aside {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  float: right;
  width: 20%;
}
/* line 77, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-contact {
  width: 340px;
  float: right;
}
/* line 80, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-contact .text {
  text-align: right;
  width: 62%;
  float: left;
}
/* line 84, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-contact .text p {
  color: white;
  line-height: 34px;
  line-height: 34px;
}
/* line 90, sass/views/_footer.scss */
#site-footer .site-footer-inner .footer-contact .logo-small {
  float: right;
}

/* line 2, sass/views/_page-controls.scss */
#page-controls {
  position: fixed;
  z-index: 20;
  top: 50%;
  right: 0;
  left: 0;
}
/* line 8, sass/views/_page-controls.scss */
#page-controls .next-page, #page-controls .prev-page {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  position: absolute;
  height: 50px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
}
/* line 15, sass/views/_page-controls.scss */
#page-controls .next-page a, #page-controls .prev-page a {
  color: white;
  font-weight: 300;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}
/* line 22, sass/views/_page-controls.scss */
#page-controls .next-page {
  background: #444444;
  right: -10px;
  padding-right: 20px;
}
/* line 26, sass/views/_page-controls.scss */
#page-controls .next-page p {
  background: url("../img/backgrounds/site-content-header-bit.png") no-repeat left center;
  height: 100%;
  padding-left: 30px;
  line-height: 50px;
  margin-left: -17px;
}
/* line 32, sass/views/_page-controls.scss */
#page-controls .next-page p cite {
  font-size: 18px;
  margin-left: 12px;
}
/* line 38, sass/views/_page-controls.scss */
#page-controls .next-page:hover {
  right: 0;
}
/* line 41, sass/views/_page-controls.scss */
#page-controls .prev-page {
  background: #444444;
  left: -10px;
  padding-left: 20px;
}
/* line 45, sass/views/_page-controls.scss */
#page-controls .prev-page p {
  background: url("../img/backgrounds/site-content-header-bit-right.png") no-repeat right center;
  height: 100%;
  text-align: right;
  padding-right: 30px;
  line-height: 54px;
  margin-right: -17px;
}
/* line 52, sass/views/_page-controls.scss */
#page-controls .prev-page p cite {
  font-size: 18px;
  margin-right: 12px;
}
/* line 58, sass/views/_page-controls.scss */
#page-controls .prev-page:hover {
  left: 0;
}
/* line 61, sass/views/_page-controls.scss */
#page-controls .next-page.hide, #page-controls .prev-page.hide {
  display: none;
}

/* line 2, sass/views/_site-content-header.scss */
#site-content-header {
  position: absolute;
  width: 100%;
  top: -27px;
  z-index: 10;
}
/* line 7, sass/views/_site-content-header.scss */
#site-content-header .site-content-header-inner {
  background: url("../../img/backgrounds/site-content-header.png") no-repeat top right;
  text-align: center;
  margin: 0 auto;
  width: 450px;
}
/* line 12, sass/views/_site-content-header.scss */
#site-content-header .site-content-header-inner h4 {
  background: url("../../img/backgrounds/site-content-header-bit.png") no-repeat top left;
  font-weight: 300;
  font-size: 17px;
  color: #fdedcd;
  margin-left: -17px;
  padding: 20px 40px;
}

/* line 1, sass/views/_admin-bar.scss */
#admin-bar {
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  -ms-transition: top 0.2s linear;
  transition: top 0.2s linear;
  background: url("/img/borders/trim-top.png") repeat-x bottom left;
  position: fixed;
  top: -33px;
  right: 0;
  left: 0;
  height: 40px;
  z-index: 100;
}
/* line 10, sass/views/_admin-bar.scss */
#admin-bar .admin-bar-inner {
  background: #444444 url("/img/body-bg.png") repeat top left;
  height: 33px;
  position: relative;
}
/* line 14, sass/views/_admin-bar.scss */
#admin-bar .admin-bar-inner a:hover {
  color: #00feff;
}
/* line 17, sass/views/_admin-bar.scss */
#admin-bar .admin-bar-inner .gears-small-icon {
  display: block;
  margin: 6px 10px 0 0;
  float: left;
}
/* line 22, sass/views/_admin-bar.scss */
#admin-bar .admin-bar-inner p {
  line-height: 37px;
}
/* line 24, sass/views/_admin-bar.scss */
#admin-bar .admin-bar-inner p a:hover {
  color: #00feff;
}

/* line 32, sass/views/_admin-bar.scss */
body.logged-in #admin-bar {
  top: 0;
}

/* line 1, sass/packages/github/_main.scss */
#github-package {
  /* Generic */
  /* Pages */
}
/* line 5, sass/packages/github/_pages.scss */
#github-package header .github-logo {
  margin-bottom: 40px;
}
/* line 8, sass/packages/github/_pages.scss */
#github-package header .user-search {
  float: right;
  display: inline-table;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
/* line 14, sass/packages/github/_pages.scss */
#github-package header .user-search .user {
  vertical-align: middle;
}
/* line 17, sass/packages/github/_pages.scss */
#github-package header .user-search .github-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  display: inline;
  vertical-align: middle;
}
/* line 30, sass/packages/github/_pages.scss */
#github-package #github-section-content h3 {
  margin-bottom: 20px;
}
/* line 33, sass/packages/github/_pages.scss */
#github-package #github-section-content p.intro {
  margin-bottom: 20px;
  width: 660px;
}
/* line 42, sass/packages/github/_pages.scss */
#github-package #signin-page #github-select-user {
  position: relative;
}
/* line 44, sass/packages/github/_pages.scss */
#github-package #signin-page #github-select-user .dropdown-list {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
/* line 56, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list {
  margin-top: 20px;
}
/* line 58, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li {
  -webkit-transition: border-color 0.1s linear;
  -moz-transition: border-color 0.1s linear;
  -o-transition: border-color 0.1s linear;
  -ms-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  border-top: 5px solid #376018;
  position: relative;
  margin: 0 10px 10px 0;
  float: left;
  cursor: pointer;
  background: white;
  width: 330px;
  height: 128px;
}
/* line 68, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li h4 {
  margin-top: 20px;
}
/* line 71, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li h4, #github-package #repositories-page #github-repositories-list li .stargazers {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  font-size: 20px;
}
/* line 76, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li p {
  margin-top: 10px;
  font-size: 14px;
}
/* line 80, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li h4, #github-package #repositories-page #github-repositories-list li p {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 84, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li .description {
  overflow: hidden;
  height: 32px;
}
/* line 88, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li .last-updated {
  color: #d6d6d6;
  font-size: 12px;
}
/* line 92, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li .stargazers {
  position: absolute;
  display: inline-flex;
  top: 17px;
  right: 20px;
}
/* line 97, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li .stargazers .stargazer-count {
  margin-top: 4px;
}
/* line 100, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li .stargazers .stargazer-icon {
  background: url("/img/icons/stargazer-icon.png") no-repeat 0 0;
  display: inline-block;
  width: 23px;
  height: 22px;
  margin-left: 8px;
}
/* line 107, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li .stargazers .stargazer-icon.starred {
  background-position: 0 -22px;
}
/* line 112, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li:nth-child(3) {
  margin-right: 0;
}
/* line 115, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li:hover {
  border-top: 5px solid #b2d233;
}
/* line 117, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li:hover .stargazer-icon {
  background-position: -23px 0;
}
/* line 120, sass/packages/github/_pages.scss */
#github-package #repositories-page #github-repositories-list li:hover .stargazer-icon.starred {
  background-position: -23px -22px;
}

/* line 4, sass/packages/_main.scss */
.wdw-package {
  padding: 60px 0 40px 0;
}
