#admin-bar {
  @include transition(top, 0.2s);
  background: url('/img/borders/trim-top.png') repeat-x bottom left;
  position:fixed;
  top:-33px;
  right:0;
  left:0;
  height:40px;
  z-index:$adminBarZindex;
  .admin-bar-inner {
    background:$shade url('/img/body-bg.png') repeat top left;
    height:33px;
    position:relative;
    a:hover {
      color:$wireFrameBlue;
    }
    .gears-small-icon {
      display:block;
      margin:6px 10px 0 0;
      float:left;
    }
    p {
      line-height:37px;
      a:hover {
        color:$wireFrameBlue;
      }
    }
  }
}

body.logged-in {
  #admin-bar {
    top:0;
  }
}