
#site-footer {
  background:url('../../img/borders/trim-site-footer.png') repeat-x top left;
  padding-top:7px;
  margin-top:-7px;
  position:relative;
  .thankyou {
    background:url('../../img/backgrounds/thankyou.png') no-repeat center bottom;
    display: block;
    width: 300px;
    height: 126px;
    position: relative;
    margin: 0 auto;
    margin-top: -126px;
  }
  .site-footer-inner {
    background:$shade url('../../img/body-bg.png') repeat top left;
    width:100%;
    padding:40px 0 40px 0;
    margin-bottom: -7px;
    display:inline-block;
    h3 {
      color:$white;
      font-size:22px;
      font-weight:300;
      margin-bottom:25px;
    }
    p, li {
      font-family:$Oswald;
      font-weight:300;
      font-size:15px;
      line-height:24px;
      letter-spacing: 1px;
    }
    .footer-social {
      float:left;
      width:190px;
      margin-right:20px;
      li {
        line-height:28px;
        width:100%;
        margin-bottom:15px;
        padding-left:36px;
        cursor:pointer;
      }
    }
    .footer-news {
      float:left;
      border-left: 1px dotted $grey;
      padding-left:25px;
      width:330px;
      .footer-news-items {
        display:inline-block;
        .footer-news-item {
          display:inline-block;
          .news-header {
            width:100%;
            display:inline-block;
            margin-bottom:20px;
            h4 {
              width:60%;
              font-size:18px;
              float:left;
            }
            aside {
              font-family:$Oswald;
              font-weight:300;
              font-size:20px;
              text-align:right;
              float:right;
              width:20%
            }
          }
        }
      }
    }
    .footer-contact {
      width:340px;
      float:right;
      .text {
        text-align:right;
        width:62%;
        float:left;
        p {
          color:$white;
          line-height:34px;
          line-height:34px;
        }
      }
      .logo-small {
        float:right;
      }
    }
  }
}

body.admin-mode {
  #site-footer {
    .thankyou {
      display:none;
    }
  }
}