#site-header {
  h1 {
    background:url('/img/header/logo-huge.png') no-repeat;
    width:$desktop;
    height:170px;
    margin-bottom:30px;
    font-size:145px;
    text-indent: -100000px;
  }
  .opaque-decor {
    display:block;
    background:url("/img/borders/opaqueDecor.png") no-repeat center center;
    margin:0 auto 30px auto;
    width:345px;
    height:40px;
  }
  h2 {
    @include text-shadow(0px 0px 2px $black);
    @include transition(all, 0.1s);
    @include opacity(0);
    height:20px;
    font-size:20px;
    line-height:30px;
    text-align:center;
    font-weight:300;
    color:$beige;
  }
}
body.home-page {
  #site-header {
    h1 {
      background-position: center 0;
    }
    h2 {
      @include opacity(1);
      margin-bottom:60px;
      height:auto;
    }
  }
}
body.packs-page {
  #site-header  {
    h1 {
      background-position: center -180px
    }
  }
}
body.contact-page {
  #site-header  {
    h1 {
      background-position: center -360px;
    }
  }
}
