#primary-nav {
  background: url('/img/borders/trim-top.png') repeat-x top left;
  padding: 38px 0 0 0;
  position: absolute;
  z-index: $primaryNavZindex;
  top: 0;
  right: 0;
  left: 0;
  a {
    font-family:$Oswald;
    color:$beige;
    font-size:18px;
    font-weight: 300;
    float:right;
    .menu-icon {
      margin-left:8px;
    }
  }
  ul.nav {
    float:left;
    li {
      @include transition(color, 250ms);
      display:inline-block;
      text-align:left;
      cursor:pointer;
      border-right:1px dotted $beige;
      h3, cite {
        color:$beige;
      }
    }
    li:hover {
      h3, cite {
        color:$white;
      }
    }
    li:last-child {
      margin-right:0;
      padding-right:0;
      border: none;
    }
  }
}
body.home-page {
  #primary-nav {
    a:hover {
      color:$lightBlue;
    }
    ul {
      li.active {
        h3, cite {
          color:$lightBlue;
        }
      }
    }
  }
}
body.contact-page {
  #primary-nav {
    a:hover {
      color:$lightBlood;
    }
    ul {
      li.active {
        h3, cite {
          color:$lightBlood;
        }
      }
    }
  }
}
body.packs-page {
  #primary-nav {
    a:hover {
      color:$vomit;
    }
    ul {
      li.active {
        h3, cite {
          color:$vomit;
        }
      }
    }
  }
}