#primary-nav {
  padding: 38px 0 0 0;
  margin-bottom: 30px;
  a {
    font-family:$Oswald;
    color:$beige;
    font-size:18px;
    font-weight: 300;
    float:right;
    .menu-icon {
      margin-left:8px;
    }
  }
  ul.nav {
    float:left;
    li {
      @include transition(color, 250ms);
      display:inline-block;
      text-align:left;
      cursor:pointer;
      border-right:1px dotted $beige;
      margin-right:20px;
      padding-right:20px;
      h3, cite {
        color:$beige;
      }
      h3 {
        font-size:28px;
        margin-bottom:10px;
      }
      cite {
        font-size:18px;
      }
    }
    li:hover {
      h3, cite {
        color:$white;
      }
    }
    li:last-child {
      margin-right:0;
      padding-right:0;
      border: none;
    }
  }
}
body.home-page {
  #primary-nav {
    a:hover {
      color:$lightBlue;
    }
    ul {
      li.active {
        h3, cite {
          color:$lightBlue;
        }
      }
    }
  }
}
body.contact-page {
  #primary-nav {
    a:hover {
      color:$lightBlood;
    }
    ul {
      li.active {
        h3, cite {
          color:$lightBlood;
        }
      }
    }
  }
}
body.packs-page {
  #primary-nav {
    a:hover {
      color:$vomit;
    }
    ul {
      li.active {
        h3, cite {
          color:$vomit;
        }
      }
    }
  }
}