#primary-nav {
  padding: 38px 0 0 0;
  margin-bottom: 30px;
  a {
    font-family:$Oswald;
    color:$beige;
    font-size:18px;
    font-weight: 300;
    float:right;
    .menu-icon {
      margin-left:8px;
    }
  }
  .nav-user {
    float:right;
    font-family:$Oswald;
    color:$beige;
    font-size:18px;
    font-weight: 300;
    a {
      float:none;
    }
  }
  ul.nav {
    float:left;
    li {
      @include transition(color, 250ms);
      display:inline-block;
      text-align:left;
      cursor:pointer;
      border-right:1px dotted $beige;
      margin-right:20px;
      padding-right:20px;
      h3, cite {
        color:$beige;
      }
      h3 {
        font-size:28px;
        margin-bottom:10px;
      }
      cite {
        font-size:18px;
      }
    }
    li:hover {
      h3, cite {
        color:$white;
      }
    }
    li:last-child {
      margin-right:0;
      padding-right:0;
      border: none;
    }
  }
}