
/* Desktop */

#site-header {
  padding:112px 0 20px 0;
  margin-bottom:40px;
  min-height:200px;
  h1 {
    background:url('/img/header/logo-huge.png') no-repeat;
    width:$desktop;
    height:170px;
    margin-bottom:30px;
    font-size:145px;
  }
  .opaque-decor {
    display:block;
    background:url("/img/borders/opaqueDecor.png") no-repeat center center;
    margin:0 auto 30px auto;
    width:345px;
    height:40px;
  }
  h2 {
    font-size:20px;
    line-height:30px;
    text-align:center;
  }
}