button {
  @include transition(all, 0.1s);
  cursor:pointer;
  border:none;
  margin:0;
}
button.small-generic {
  color:$white;
  padding:0 10px 0 10px;
  height:40px;
}
button.input-combo-button {
  background:$grey url('/img/icons/mini-arrow-right.png') no-repeat center center;
  height:40px;
  width:40px;
}