
form.input-button-combo {
  display:inline-flex;
  input,
  textarea {
    @include transition(border-color, 0.1s);
    border:none;
  }
}
input,
textarea {
  @include box-shadow(inset #999 0px 0px 3px -1px);
  border:none;
  padding:0;
  margin:0;
  background:$white;
  font-size: 14px;
  text-indent:10px;
  height:40px;
  min-width:280px;
  width:100%;
  box-sizing:border-box;
}
textarea {
  height:auto;
}
form {
  h2 {
    margin-bottom:22px;
  }
  p.intro {
    margin-bottom:12px;
  }
  label {
    display:block;
    margin-bottom:10px;
    position:relative;
  }
  .inline-error {
    display:none;
    right:10px;
    top:14px;
    position:absolute;
    color:$errorRed;
  }
  .additional-form-text {
    margin-top:10px;
    border-top:1px solid $grey;
    padding-top:15px;
    p {
      margin-bottom:6px;
    }
  }
}
body.contact-page {
  input, textarea {
    border-left:3px solid $blood;
  }
  input:focus, textarea:focus {
    border-left: 3px solid $lightBlood;
  }
}
body.home-page {
  input, textarea {
    border-left: 3px solid $lightBlue;
  }
  input:focus, textarea:focus {
    border-left:3px solid $veryLightBlue;
  }
}
body.github-page {
  input, textarea {
    border-left:3px solid $racingGreen;
  }
  input:focus, textarea:focus {
    border-left: 3px solid $vomit;
  }
}

body[class*="-page"] {
  label.invalid {
    input, textarea {
      border-left: 3px solid $errorRed;
      color:$errorRed;
    }
    .inline-error {
      display:block;
    }
  }
}