form.input-button-combo {
  display:inline-flex;
}
input {
  @include transition(border-color, 0.1s);
  border:none;
}
input {
  padding:0;
  margin:0;
  background:$white;
  font-size: 14px;
  text-indent:10px;
  height:40px;
  min-width:280px;
}
