
.social-icons {
  background: url('../img/icons/social-icons.png') no-repeat top left;
  height:24px;
  width:24px;
}
.social-icons.facebook {
  background-position: 0 0;
}
.social-icons.linkedin {
  background-position: 0 -25px;
}
.social-icons.twitter {
  background-position: 0 -50px;
}

.gears-small-icon {
  background: url('../img/icons/gears-small-icon.png') no-repeat top left;
  display:block;
  width:20px;
  height:20px;
}

.menu-icon {
  display:inline-flex;
  background: url('../img/icons/menu-icons.png') no-repeat top left;
  width:16px;
  height:10px;
}