#site-loader {
  @include box-shadow(inset rgba(0,0,0,0.5) 0 0 100px);
  z-index:$loaderZindex;
  .top-door, .bottom-door {
    @include transition(all, 0.3s);
    @include opacity(1);
    position:fixed;
    height:0;
    right:0;
    left:0;
    overflow:hidden;
  }
  .top-door {
    z-index:$loaderTopZindex;
    background:$shade url('/img/body-bg.png') repeat top left;
    overflow:visible;
    top:0;
    .wdw-vertical-blue {
      @include transition(all, 0.2s);
      @include filter(grayscale(80%));
      @include opacity(0);
      cursor:pointer;
      background: url('/img/logos/wdw-vertical-blue.png') no-repeat bottom center;
      display: block;
      position: absolute;
      bottom: 0;
      width: 210px;
      left: 50%;
      height: 272px;
      margin-left: -105px;
    }
    .wdw-vertical-blue:hover {
      @include filter(grayscale(0%));
    }
  }
  .bottom-door {
    z-index:$loaderBottomZindex;
    background:$shade url('/img/body-bg.png') repeat top left;
    bottom:0;
  }
}
body.active-loader {
  overflow:hidden;
  #site-loader {
    .top-door, .bottom-door {
      @include opacity(1);
      height:50%;
    }
    .top-door {
      .wdw-vertical-blue {
        @include opacity(1);
        bottom: -136px;
      }
    }
  }
}