body.home-page {
  #site-header  {
    h1 {
      background-position: center 0;
    }
  }
}
body.packs-page {
  #site-header  {
    h1 {
      background-position: center -180px
    }
  }
}
body.contact-page {
  #site-header  {
    h1 {
      background-position: center -360px;
    }
  }
}