
#page-controls {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  .next-page, .prev-page {
    position:absolute;
    height:50px;
    width:50px;
    background:#FFF;
    display:block;
    cursor:pointer;
  }
  .next-page {
    right:0;
  }
  .prev-page {
    left:0;
  }
  .next-page.hide, .prev-page.hide {
    display:none;
  }
}