#site-strap {
  @include transition(all, 0.2s);
  @include opacity(0);
  height:18px;
  overflow:hidden;
  h2 {
    @include text-shadow(0px 0px 2px $black);
    font-weight:300;
    color:$beige;
  }
}
.home-page #site-strap {
  @include opacity(1);
  height:120px;
}