
body.home-page {
  #github-repositories-list {
    li {
      border-top:5px solid $lightBlue;
    }
    li:hover {
      border-top:5px solid $veryLightBlue;
    }
  }
}
body.this-page {
  #github-repositories-list {
    li {
      border-top:5px solid $racingGreen;
    }
    li:hover {
      border-top:5px solid $vomit;
    }
  }
}
body.contact-page {
  #github-repositories-list {
    li {
      border-top:5px solid $blood;
    }
    li {
      border-top:5px solid $lightBlood;
    }
  }
}