
/* Generic */

header {
  .github-logo {
    margin-bottom:40px;
  }
  h3 {
    margin-bottom:20px;
  }
  p.intro {
    margin-bottom:20px;
    width:660px;
  }
  .user-search {
    float:right;
    display:inline-table;
    font-family:$Oswald;
    font-weight:300;
    font-size:20px;
    .user {
      vertical-align: middle;
    }
    .github-avatar {
      @include border-radius(50%);
      cursor:pointer;
      width:50px;
      height:50px;
      margin-left:20px;
      display: inline;
      vertical-align: middle;
    }
  }
}

/* Pages */

#github-signin-page {
  #github-select-user {
    position:relative;
    .dropdown-list {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
    }
  }
}

// Repositories //

#github-repositories-page {
  #github-repositories-list {
    margin-top:20px;
    li {
      @include transition(border-color, 0.1s);
      position:relative;
      margin:0 10px 10px 0;
      float:left;
      cursor:pointer;
      background:$white;
      width:330px;
      height:128px;
      h4 {
        margin-top:20px;
      }
      h4, .stargazers {
        font-family:$Myriad;
        color:$shade;
        font-size:20px;
      }
      p {
        margin-top:10px;
        font-size:14px;
      }
      h4, p {
        margin-left: 20px;
        margin-right: 20px;
      }
      .description {
        overflow: hidden;
        height: 32px;
      }
      .last-updated {
        color:$saabGrey;
        font-size:12px;
      }
      .stargazers {
        position: absolute;
        display: inline-flex;
        top:17px;
        right:20px;
        .stargazer-count {
          margin-top:4px;
        }
        .stargazer-icon {
          background:url('/img/icons/stargazer-icon.png') no-repeat 0 0;
          display: inline-block;
          width:23px;
          height:22px;
          margin-left:8px;
        }
        .stargazer-icon.starred {
          background-position: 0 -22px;
        }
      }
    }
    li:nth-child(3) {
      margin-right:0;
    }
    li:hover {
      .stargazer-icon {
        background-position: -23px 0;
      }
      .stargazer-icon.starred {
        background-position: -23px -22px;
      }
    }
  }
}

body.home-page {
  #github-repositories-list {
    li {
      border-top:5px solid $lightBlue;
    }
    li:hover {
      border-top:5px solid $veryLightBlue;
    }
  }
}
body.packs-page {
  #github-repositories-list {
    li {
      border-top:5px solid $racingGreen;
    }
    li:hover {
      border-top:5px solid $vomit;
    }
  }
}
body.contact-page {
  #github-repositories-list {
    li {
      border-top:5px solid $blood;
    }
    li {
      border-top:5px solid $lightBlood;
    }
  }
}