
/* Desktop */

#site-header {
  background:url("/img/borders/opaqueHeader.png") no-repeat bottom center;
  padding: 112px 0 40px 0;
  margin-bottom:40px;
  min-height:200px;
  h1 {
    background:url('/img/header/logo-huge.png') no-repeat;
    width:$desktop;
    height:170px;
    margin-bottom:30px;
    font-size:145px;
  }
  h2 {
    font-size:24px;
  }
}