#blog-page {

}

body.blog-page {
  background-color: $blood;
  a:hover {
    color:#FF0000;
  }
  .menu-icon {
    background-position:0 -22px;
  }
  .dropdown-list {
    li {
      border-left:3px solid $blood;
    }
    li:hover, li:focus {
      border-left: 3px solid $lightBlood;
    }
  }
  .logo-small {
    background-position:0 -302px;
  }
  #primary-nav {
    a:hover {
      color:$vomit;
    }
    ul {
      li.active {
        h3, cite {
          color:$vomit;
        }
      }
    }
  }
  #site-header  {
    h1 {
      background-position: center -360px;
    }
  }
  #page-container {
    input {
      border-left:3px solid $blood;
    }
    input:focus {
      border-left: 3px solid $lightBlood;
    }
    button:focus,
    button.input-combo-button,
    button.small-generic {
      background-color:$blood;
    }
    button.input-combo-button:hover,
    button.small-generic:hover {
      background-color:$lightBlood;
    }
  }
}