#contact-page {
  padding:58px 0 150px 0;
  h2 {
    font-size:28px;
    line-height:34px;
  }
  p {
    margin-top:33px;
    line-height:24px;
  }
}

body.contact-page {
  background-color: $blood;
  a:hover, #page-container a:hover, #site-modal-window a:hover {
    color:$lightBlood;
  }
  .menu-icon {
    background-position:0 -22px;
  }
  .dropdown-list {
    li {
      border-left:3px solid $blood;
    }
    li:hover, li:focus {
      border-left: 3px solid $lightBlood;
    }
  }
  .logo-small {
    background-position:0 -302px;
  }
  #primary-nav {
    a:hover {
      color:$lightBlood;
    }
    ul {
      li.active {
        h3, cite {
          color:$lightBlood;
        }
      }
    }
  }
  #site-header  {
    h1 {
      background-position: center -360px;
    }
  }
}