#contact-page {
  padding:58px 0 150px 0;
  h2 {
    font-size:28px;
    line-height:34px;
  }
  p {
    margin-top:33px;
    line-height:24px;
  }
  form {
    margin-top:30px;
    input {
      margin-bottom:10px;
    }
    textarea {
      width:85%;
      padding-top:10px;
    }
    button {
      font-family:$Oswald;
      font-size:65px;
      float:right;
      width: 55px;
      height: 181px;
      font-size:50px;
    }
  }
}

body.contact-page {
  background-color: $blood;
  a:hover, #page-container a:hover {
    color:$lightBlood;
  }
  .menu-icon {
    background-position:0 -22px;
  }
  .dropdown-list {
    li {
      border-left:3px solid $blood;
    }
    li:hover, li:focus {
      border-left: 3px solid $lightBlood;
    }
  }
  .logo-small {
    background-position:0 -302px;
  }
  #primary-nav {
    a:hover {
      color:$lightBlood;
    }
    ul {
      li.active {
        h3, cite {
          color:$lightBlood;
        }
      }
    }
  }
  #site-header  {
    h1 {
      background-position: center -360px;
    }
  }
  #page-container {
    input, textarea {
      border-left:3px solid $blood;
    }
    input:focus, textarea:focus {
      border-left: 3px solid $lightBlood;
    }
    button:focus,
    button.input-combo-button,
    button.small-generic {
      background-color:$blood;
    }
    button.input-combo-button:hover,
    button.small-generic:hover {
      background-color:$lightBlood;
    }
  }
}