#home-page {
  section {
    h1 {
      padding: 100px 0;
      width:100%;
      text-align: center;
    }
  }
  section:last-child {
    padding-bottom:100px;
  }
  .sky-blue {
    min-height:570px;
  }
  .pearly-white {
    min-height:350px;
  }
  .english-skies {
    min-height:150px;
  }
  .racing-grey {
    min-height:75px;
  }
}