#home-page {
  section {
    h1 {
      padding: 100px 0;
      width:100%;
      text-align: center;
    }
    .tech-holder {
      width:320px;
      text-align:center;
      float:left;
      margin-right:20px;
    }
    .tech-holder.last {
      margin-right:0;
    }
    .tech-holder.css3, .tech-holder.html5 {
      margin-top:130px;
    }
    .css3-icon, .html5-icon, .js-icon {
      background: url('/img/icons/html5-icons.png') no-repeat center center;
      display:block;
      margin:0 auto;
    }
    .css3-icon {
      background-position: 0 0;
      width:128px;
      height:181px;
    }
    .html5-icon {
      background-position: 0 -466px;
      width:128px;
      height:181px;
    }
    .js-icon {
      background-position: 0 -181px;
      width:202px;
      height:284px;
    }
  }
  .sky-blue {
    padding:80px 0;
    h2 {
      text-transform: uppercase;
      font-size:28px;
      line-height:34px;
      margin-top:38px;
      font-weight:300;
    }
    p, h2 {
      color:$shade;
    }
    p {
      font-size:16px;
      margin-top:33px;
      line-height:24px;
    }
  }
  .pearly-white {
    min-height:350px;
  }
  .english-skies {
    min-height:150px;
  }
  .racing-grey {
    height:350px;
    text-align:center;
    .company-reel {
      padding-top:60px;
      li {
        display:inline-table;
        vertical-align:middle;
        margin-right:68px;
      }
      li.last {
        margin-right:0;
      }
    }
  }
}