.above-the-hood {
  @include transition(all, $siteTransitionSpeed);
  display:block;
  z-index:$aboveTheHood;
  position:relative;
}
.under-the-hood {
  @include transition(opacity, $siteTransitionSpeed);
  @include opacity(0);
  z-index:$underTheHood;
  position: fixed;
  top:80px;
  right:0;
  left:0;
  h2, h3, h4, p {
    color:$white;
  }
}

body.admin-mode {
  background:$shade url('/img/body-bg.png') repeat top left;
  .above-the-hood {
    display:none;
  }
  .under-the-hood {
    @include opacity(1);
  }
}