.above-the-hood {
  display:block;
  z-index:$aboveTheHood;
  position:relative;
}
.under-the-hood {
  @include transition(opacity, $siteTransitionSpeed);
  @include opacity(0);
  z-index:$underTheHood;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

body.gears-mode {
  background:$shade url('/img/body-bg.png') repeat top left;
  .above-the-hood {
    display:none;
  }
  .under-the-hood {
    @include opacity(1);
  }
}