html, body {
  height:100%;
  min-height:100%;
}
body {
  @include transition(background-color, 0.5s);
  @include box-shadow(inset rgba(0,0,0,0.5) 0 0 100px);
  background: $darkBlue url('/img/body-bg.png') top left;
  height:100%;
  overflow-x:hidden;
  margin: 0;
  padding: 0;
}
.left {
  float:left;
}
.right {
  float:right;
}
:focus {
  outline: 0;
}
.width-auto {
  width:$desktop;
  margin:0 auto;
}
.clear:after {
  content:"";
  display:table;
  clear:both;
}
#page-container {
  background:url('/img/borders/trim-top-site-content.png') repeat-x top left;
  padding-top:7px;
  position:relative;
  .site-content-body {
    background:$grey url('/img/body-bg.png') repeat top left;
    div.page {
      position:relative;
    }
  }
}

// Section colours
section.sky-blue {
  background:$skyBlue url('/img/body-bg.png') repeat top left;
}
section.pearly-white {
  background:$pearlyWhite url('/img/body-bg.png') repeat top left;
}
section.english-skies {
  background:$englishSkies url('/img/body-bg.png') repeat top left;
}
section.racing-grey {
  background:$racingGrey url('/img/body-bg.png') repeat top left;
}

#page-container {
  section:last-child {
    padding-bottom:175px;
  }
  .wdw-package section {
    padding-bottom:0;
  }
}