
h1, h2, h3, h4 {
  font-family:$Oswald, $Myriad;
}
h1, h2, h3 {
  text-transform:uppercase;
  letter-spacing: 1px;
}
h2 {
  color:$shade;
  font-size:28px;
  font-weight:300;
}
h3 {
  color:$shade;
  font-size:24px;
  font-weight:300;
}
p, li {
  color:$shade;
  font-family:$Myriad;
  font-size:15px;
  font-weight:normal;
}
p, li {
  line-height:120%;
}
cite {
  font-family:$ClickerScript;
}
a {
  @include transition(color, 0.2s);
  text-decoration:none;
  color:$white;
  cursor:pointer;
}
#page-container, .site-modal-window {
  a {
    color:$shade;
  }
}