
$Oswald : "Oswald", sans-serif;
$ClickerScript : "Clicker Script", cursive;
$Myriad : "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Dimensions */

$desktop : 1024px;
$handheld : 324px;

/* Colour Elements */

$veryLightBlue : rgb(226,246,255); // #E2F6FF
$lightBlue : rgb(192,228,237); //#C0E4ED
$lightBlueHover : rgb(202,240,249); //#C0E4ED
$blue : rgb(94,117,186); // #5E75BA
$darkBlue : rgb(68,79,100); // #444F64
$beige : rgb(253,237,205); // #FDEDCD
$cream : rgb(254,248,235); // #FEF8EB
$shade : rgb(68,68,68); //#444444
$lightBlood : rgb(232,97,88); // #E86158
$lightBloodHover : rgb(255,106,97); // #FF6A61
$blood : rgb(118,49,45); // #76312D
$white : rgb(255,255,255); // #FFFFFF
$racingGreen : rgb(55,96,24); // #376018
$vomit : rgb(178,210,51); // #B2D233
$vomitHover : rgb(205,243,57); // #CDF339
$grey : rgb(238,238,238); // #EEEEEE
$saabGrey : rgb(214,214,214); // #D6D6D6
$black : rgb(5,5,5); // #000000
$blackAlpha : rgba(34, 34, 34, 0.6); // #000000;

// Message colours
$errorRed : rgb(255,0,0); //#FF0000;
$errorRedHover : rgb(210,0,0); //#D20000;

// Admin colours
$wireFrameBlue : rgb(0,254,255); //#00FEFF

// Section colours
$skyBlue : rgb(226,246,255); // #E2F6FF
$pearlyWhite : rgb(255,255,255); // #FFFFFF
$englishSkies : rgb(245,245,245); // #F5F5F5
$racingGrey : rgb(225,222,214); // #E1DED6

/* z-index */

$underTheHood : 1;
$aboveTheHood : 2;

$siteContentHeaderZindex : 10;
$pageControlsZindex : 20;

$adminBarZindex : 100;

/* Modal window */
$modalOverlayZindex : 205;
$modalWindowZindex : 210;

// Always on top
$loaderZindex : 1500;
$loaderBottomZindex : 1510;
$loaderTopZindex : 1520;